{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'edge_case/css/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">

<body>
<h1>Submit New Edge Case</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form enctype="multipart/form-data" action="{% url 'edge_case:submit' %}" method="post">
{% csrf_token %}

    {{ form.as_p }}
    
<input type="submit" value="Submit" />
</form>
</body>